body {
	background: #fff!important;
	font-family: "PT Sans", Helvetica, Arial, sans-serif!important
}
.hidden {
	display: none;
}
.navbar .nav .separator, .dropdown-menu a {
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
}
.rightbody {
	margin-top: 0px!important;
	min-height: 700px;
	padding-bottom: 00px;
}
#leftcontent .tabletitle h2 {
	font-family: Arial, Helvetica, sans-serif;
}
.spacesHeader .heading h3 {
	border-bottom: 0;
}
.api-head {
	background-color: #33b5ed!important;
	background-image: -moz-linear-gradient(top, #33a7e5, #34c9fa)!important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#33a7e5), to(#34c9fa))!important;
	background-image: -webkit-linear-gradient(top, #33a7e5, #34c9fa)!important;
	background-image: -o-linear-gradient(top, #33a7e5, #34c9fa)!important;
	background-image: linear-gradient(to bottom, #33a7e5, #34c9fa)!important;
	background-repeat: repeat-x;
	min-height: 210px;
	padding-top: 15px;
	padding-bottom: 20px;
	border-top: 7px solid #73C1ED;
}
.api-hd-section h3 {
	color: #fff!important;
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
	margin: 0;
}
.api-hd-section {
	display: inline;
	height: 200px;
	text-align: center;
	padding: 0px 0;
	color: #fff;
}
.api-hd-section h1 {
	font-size: 40px;
	font-weight: bold;
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
	margin: 15px 0 0px;
}
.api-block-section {
	padding: 20px 0 0!important;
}
.white-bg {
	background: #fff;
	padding: 30px 0;
}
.api-box {
	min-height: 145px;
	padding: 10px;
	transition: 300ms all ease-in-out;
	margin: 20px 0;
}
.api-product-title {
	text-align: left;
	float: left;
}
.api-product-title h2 {
	color: #343434;
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
	margin: 0;
	float: left;
	padding-top: 0;
}
.api-product-title span {
	color: #737373;
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin: 0 10px 0 0;
	float: left;
	padding: 0;
}
.api-box ul {
	margin: 10px 0;
	display: inline-block;
	padding-left: 80px;
}
.api-box ul li {
	margin: 5px 0;
}
.api-box ul li a {
	color: #0082cb;
	font-size: 14px;
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
}
.gray-bg {
	background: #f2f1f1;
	padding: 30px 0 60px;
}
.gray-bg .api-box {
	min-height: 145px;
	padding: 10px;
	transition: 300ms all ease-in-out;
	margin: 20px 0;
}
.api-box:hover {
	background: #eee;
	border-radius: 6px;
	box-shadow: 0 2px 3px -1px #bfbfbf;
	transition: 300ms all ease-in-out;
}
.gray-bg .api-box:hover {
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 2px 3px -1px #bfbfbf;
	transition: 300ms all ease-in-out;
}
.api-viewer-ico {
	background-position: 0px -1082px!important;
}
.api-annotation-ico {
	background-position: 0px -1155px!important;
}
.api-assembly-ico {
	background-position: 0px -1235px!important;
}
.api-signature-ico {
	background-position: 0px -1312px!important;
}
.api-comparison-ico {
	background-position: 0px -1388px!important;
}
.api-conversion-ico {
	background-position: 0px -1460px!important;
}
.api-metadata-ico {
	background-position: 0px -1605px!important;
}
.api-ico {
	background: url(../img/icons-blue.png?v=6) 0 0 no-repeat;
	width: 55px;
	height: 45px;
	border: 0 solid #fff;
	outline: 0;
	display: inline-block;
	margin: 0 10px 0 0;
	float: left;
}
